@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.viewpoint-img {
    height: 40px;
    width: 40px;
    padding-top: 5px;
    display: inline-block;
    background: url(view-point.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: inherit;
    text-align: center;
    line-height: 16px;
    font-weight: bold;
    color: green;
    margin-top: 5px;
}

span .connected-line:last-child {
    border-left: 0px !important;
    border: 1px solid red;
}

.connected-line {
    border-left: 4px dotted green;
    position: absolute;
    left: 18px;
    top: 50px;
    height: 27px;
    z-index: -1;
    bottom: -15px;
}

#addRow {
    color: #2398c2;
    font-weight: bold;
    font-size: 15px;
}

#addRow span {
    background: #2398c2;
    border-radius: 50%;
    color: #FFF;
    font-weight: bold;
    height: 20px;
    display: inline-block;
    width: 20px;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
}

#addRow:hover {
    color: #30aedc;
}

#map {
    height: 100vh;
    width: 100%;
    position: relative;
}

.formBlock {
    max-width: 480px;
    background-color: white;
    border: 2px solid #0000004d;
    position: absolute;
    top: 10px;
    left: 50px;
    padding: 10px;
    z-index: 999;

    border-radius: 25px;
    width: 100%;
}

.formBlock:hover {
    border-color: #2398c2;
}

.input {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    border: 1px solid black;
    font-size: 15px;
    border-radius: 5px;
}

#inputFormRow input {
    border-radius: 8px;
    border-color: #0000004d;
    outline: none !important;
    box-shadow: none !important;
    transition: .3s ease-in;
    color: #000;
}

#inputFormRow input::placeholder {
    color: #0000008e;
    font-weight: 500;
    font-size: 14px;
}

#inputFormRow input:hover,
#inputFormRow input:focus {
    border-color: #00bbff;
}

.submit-btn {
    padding: 10px 20px;
    border: 0px solid black;
    font-size: 15px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #2398c2;
    display: inline-block;
}

.submit-btn:hover,
.submit-btn:focus {
    border: none !important;
    outline: none;
    background-color: #30aedc;
}

#form {
    padding: 0;
    line-height: 1.4;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

input:nth-child(1) {
    margin-bottom: 10px;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
}

.leaflet-control-zoom-in {
    border-bottom: 1px solid #0000004d !important;
}

.formTitle {
    font-size: 20px;
    text-align: center;
    color: #2398c2;
    padding-bottom: 5px;
    letter-spacing: 1.2px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    border-bottom: 2px solid #30aedc;
}

#removeRow {
    color: #fff;
    position: absolute;
    right: 14px;
    height: 48px;
    background: #2398c2;
    z-index: 9999;
    transition: .3s all ease-in;
}

#removeRow:hover {
    background: red !important;
}

.btn-submit-area {
    text-align: right;
    margin-bottom: 20px
}

.btn-check .nav_container {
    margin-top: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-right: 5px;
}

/* custome check */
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin-right: 5px;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #30aedc;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
}

.form-control+.form-control {
    margin-top: 1em;
}


input[type="checkbox"] {
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]::before {
    background-color: #30aedc;
}