@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
}

ul {
  margin: 0px;
  padding: 0px;
}

a {
  display: inline-block;
  text-decoration: none;
}

/* Main Css here */
.question_area {
  background: #beeae8;
  padding: 70px;
}

.question_content {
  max-width: 750px;
  margin: 0 auto;
  width: 96%;
}

.question_title {
  font-size: 22px;
  color: black;
  padding-bottom: 20px;
  line-height: 1.4;
  font-weight: 500;
}

.question_title span {
  font-size: 24px;
  font-weight: 500;
  padding-right: 15px;
  position: relative;
}

.question_title span::after {
  position: absolute;
  right: 5px;
  top: 18px;
  height: 6px;
  content: '';
  width: 6px;
  border-radius: 50%;
  background: #9498a4;
}

.question_checks {
  background: #2f2f48;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.question_container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.question_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.question_checkmark {
  /* position: absolute; */
  top: -15px;
  left: -25px;
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  width: 25px;
  text-align: center;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #6b6a7e;
  color: #fff;
}

.question_container:hover input~.question_checkmark {
  background-color: #202031;
  border-color: #a13065;
}

.question_container input:checked~.question_checkmark {
  background-color: #202031;
  border-color: #a13065;
}

.question_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.question_container input:checked~.question_checkmark:after {
  display: block;
}

.question_container .question_checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  /* background: white; */
}

/* EXTRA CODE FOR CUSTOME RADION BOX */
.question_checks {
  display: flex;
  align-items: center;
  column-gap: 30px;
  height: 30px;
  justify-content: space-between;
  padding: 20px 35px;
}

.submit-btn {
  text-align: center;
}

.progress{
  position: relative;
  height: 10px;
  width: 1110%;
  border: 10px solid #f4a261;
  border-radius: 15px;
}
.progress .color{
  position: absolute;
  background-color: #ffffff;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: progres 4s infinite linear;    
}
@keyframes progres{
  0%{
    width: 0%;
  }
  25%{
      width: 50%;
  }
  50%{
      width: 75%;
  }
  75%{
      width: 85%;
  }
  100%{
      width: 100%;
  }
};

.submit-btn input[type="submit"] {
  padding: 10px 30px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 18px;
  text-transform: uppercase;
  color: #ea2883;
  cursor: pointer;
  font-weight: 500;
}

/* Some Responsive Code */
@media screen and (max-width: 767px) {
  .question_title {
    font-size: 18px;
  }

  .question_title span {
    font-size: 20px;
  }

  .question_title span::after {
    top: 14px;
  }

  .question_area {
    background: #2a2a44;
    padding: 40px;
  }
}

@media screen and (max-width: 576px) {
  .question_checks {
    column-gap: 15px;
  }

  .question_area {
    background: #2a2a44;
    padding: 50px 20px;
  }

  .submit-btn input[type="submit"] {
    font-size: 16px;
  }
}