 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1456px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 24px 0 0;
}

.u-section-1 .u-list-1 {
  margin-top: 24px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 25px) calc(50% - 25px);
  min-height: 1182px;
  grid-gap: 50px 50px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 37px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 24px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-btn-1 {
  margin: 14px auto 0 74px;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-2 {
  margin: -41px auto 0 158px;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-3 {
  margin: -41px auto 0;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-4 {
  margin: -41px 159px 0 auto;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-5 {
  margin: -42px 75px 0 auto;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 37px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 24px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-btn-6 {
  margin: 14px auto 0 74px;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-7 {
  margin: -41px auto 0 158px;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-8 {
  margin: -41px auto 0;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-9 {
  margin: -41px 159px 0 auto;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-10 {
  margin: -42px 75px 0 auto;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 37px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 24px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-btn-11 {
  margin: 14px auto 0 74px;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-12 {
  margin: -41px auto 0 158px;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-13 {
  margin: -41px auto 0;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-14 {
  margin: -41px 159px 0 auto;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-15 {
  margin: -42px 75px 0 auto;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 37px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 24px 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-btn-16 {
  margin: 14px auto 0 74px;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-17 {
  margin: -41px auto 0 158px;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-18 {
  margin: -41px auto 0;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-19 {
  margin: -41px 159px 0 auto;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-20 {
  margin: -42px 75px 0 auto;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 37px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 24px 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-btn-21 {
  margin: 14px auto 0 74px;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-22 {
  margin: -41px auto 0 158px;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-23 {
  margin: -41px auto 0;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-24 {
  margin: -41px 159px 0 auto;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-25 {
  margin: -42px 75px 0 auto;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
  box-shadow: 5px 5px 37px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 24px 0 0;
}

.u-section-1 .u-text-13 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-btn-26 {
  margin: 14px auto 0 74px;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-27 {
  margin: -41px auto 0 158px;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-28 {
  margin: -41px auto 0;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-29 {
  margin: -41px 159px 0 auto;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-30 {
  margin: -42px 75px 0 auto;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
  box-shadow: 5px 5px 37px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 24px 0 0;
}

.u-section-1 .u-text-15 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-btn-31 {
  margin: 14px auto 0 74px;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-32 {
  margin: -41px auto 0 158px;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-33 {
  margin: -41px auto 0;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-34 {
  margin: -41px 159px 0 auto;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-35 {
  margin: -42px 75px 0 auto;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-list-item-8 {
  background-image: none;
  box-shadow: 5px 5px 37px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-8 {
  padding: 10px;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 24px 0 0;
}

.u-section-1 .u-text-17 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-btn-36 {
  margin: 14px auto 0 74px;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-37 {
  margin: -41px auto 0 158px;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-38 {
  margin: -41px auto 0;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-39 {
  margin: -41px 159px 0 auto;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-40 {
  margin: -42px 75px 0 auto;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
  box-shadow: 5px 5px 37px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-9 {
  padding: 10px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 24px 0 0;
}

.u-section-1 .u-text-19 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-btn-41 {
  margin: 14px auto 0 74px;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-42 {
  margin: -41px auto 0 158px;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-43 {
  margin: -41px auto 0;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-44 {
  margin: -41px 159px 0 auto;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-45 {
  margin: -42px 75px 0 auto;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-list-item-10 {
  background-image: none;
  box-shadow: 5px 5px 37px 0 rgba(0,0,0,0.1);
}

.u-section-1 .u-container-layout-10 {
  padding: 10px;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 24px 0 0;
}

.u-section-1 .u-text-21 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 17px 0 0;
}

.u-section-1 .u-btn-46 {
  margin: 14px auto 0 74px;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-47 {
  margin: -41px auto 0 158px;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-48 {
  margin: -41px auto 0;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-49 {
  margin: -41px 159px 0 auto;
  padding: 7px 16px 9px 15px;
}

.u-section-1 .u-btn-50 {
  margin: -42px 75px 0 auto;
  padding: 7px 16px 9px 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1110px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 50px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 50px;
    margin-bottom: 38px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 901px;
    grid-auto-columns: calc(50% - 25px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 9px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 4px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 17px;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 126px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: auto;
    margin-left: 258px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -41px;
    margin-right: auto;
    margin-left: 324px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 9px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 4px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 17px;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 126px;
  }

  .u-section-1 .u-btn-9 {
    margin-right: auto;
    margin-left: 258px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -41px;
    margin-right: auto;
    margin-left: 324px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 9px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 4px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 17px;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 126px;
  }

  .u-section-1 .u-btn-14 {
    margin-right: auto;
    margin-left: 258px;
  }

  .u-section-1 .u-btn-15 {
    margin-top: -41px;
    margin-right: auto;
    margin-left: 324px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 9px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-9 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 4px;
  }

  .u-section-1 .u-btn-16 {
    margin-top: 17px;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 126px;
  }

  .u-section-1 .u-btn-19 {
    margin-right: auto;
    margin-left: 258px;
  }

  .u-section-1 .u-btn-20 {
    margin-top: -41px;
    margin-right: auto;
    margin-left: 324px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 9px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-11 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 4px;
  }

  .u-section-1 .u-btn-21 {
    margin-top: 17px;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-22 {
    margin-left: 126px;
  }

  .u-section-1 .u-btn-24 {
    margin-right: auto;
    margin-left: 258px;
  }

  .u-section-1 .u-btn-25 {
    margin-top: -41px;
    margin-right: auto;
    margin-left: 324px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 9px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-13 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 4px;
  }

  .u-section-1 .u-btn-26 {
    margin-top: 17px;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-27 {
    margin-left: 126px;
  }

  .u-section-1 .u-btn-29 {
    margin-right: auto;
    margin-left: 258px;
  }

  .u-section-1 .u-btn-30 {
    margin-top: -41px;
    margin-right: auto;
    margin-left: 324px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 9px;
  }

  .u-section-1 .u-text-14 {
    font-size: 1rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-15 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 4px;
  }

  .u-section-1 .u-btn-31 {
    margin-top: 17px;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-32 {
    margin-left: 126px;
  }

  .u-section-1 .u-btn-34 {
    margin-right: auto;
    margin-left: 258px;
  }

  .u-section-1 .u-btn-35 {
    margin-top: -41px;
    margin-right: auto;
    margin-left: 324px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 9px;
  }

  .u-section-1 .u-text-16 {
    font-size: 1rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-17 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 4px;
  }

  .u-section-1 .u-btn-36 {
    margin-top: 17px;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-37 {
    margin-left: 126px;
  }

  .u-section-1 .u-btn-39 {
    margin-right: auto;
    margin-left: 258px;
  }

  .u-section-1 .u-btn-40 {
    margin-top: -41px;
    margin-right: auto;
    margin-left: 324px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 9px;
  }

  .u-section-1 .u-text-18 {
    font-size: 1rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-19 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 4px;
  }

  .u-section-1 .u-btn-41 {
    margin-top: 17px;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-42 {
    margin-left: 126px;
  }

  .u-section-1 .u-btn-44 {
    margin-right: auto;
    margin-left: 258px;
  }

  .u-section-1 .u-btn-45 {
    margin-top: -41px;
    margin-right: auto;
    margin-left: 324px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 9px;
  }

  .u-section-1 .u-text-20 {
    font-size: 1rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-21 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 4px;
  }

  .u-section-1 .u-btn-46 {
    margin-top: 17px;
    margin-left: 60px;
  }

  .u-section-1 .u-btn-47 {
    margin-left: 126px;
  }

  .u-section-1 .u-btn-49 {
    margin-right: auto;
    margin-left: 258px;
  }

  .u-section-1 .u-btn-50 {
    margin-top: -41px;
    margin-right: auto;
    margin-left: 324px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    min-height: 974px;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: 19px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 78px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 78px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -42px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 10px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 20px;
    margin-left: 19px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 78px;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 78px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -42px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 10px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 20px;
    margin-left: 19px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 78px;
  }

  .u-section-1 .u-btn-14 {
    margin-right: 78px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-15 {
    margin-top: -42px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 10px;
  }

  .u-section-1 .u-btn-16 {
    margin-top: 20px;
    margin-left: 19px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 78px;
  }

  .u-section-1 .u-btn-19 {
    margin-right: 78px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-20 {
    margin-top: -42px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: 10px;
  }

  .u-section-1 .u-btn-21 {
    margin-top: 20px;
    margin-left: 19px;
  }

  .u-section-1 .u-btn-22 {
    margin-left: 78px;
  }

  .u-section-1 .u-btn-24 {
    margin-right: 78px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-25 {
    margin-top: -42px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-12 {
    margin-top: 10px;
  }

  .u-section-1 .u-btn-26 {
    margin-top: 20px;
    margin-left: 19px;
  }

  .u-section-1 .u-btn-27 {
    margin-left: 78px;
  }

  .u-section-1 .u-btn-29 {
    margin-right: 78px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-30 {
    margin-top: -42px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-14 {
    margin-top: 10px;
  }

  .u-section-1 .u-btn-31 {
    margin-top: 20px;
    margin-left: 19px;
  }

  .u-section-1 .u-btn-32 {
    margin-left: 78px;
  }

  .u-section-1 .u-btn-34 {
    margin-right: 78px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-35 {
    margin-top: -42px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-16 {
    margin-top: 10px;
  }

  .u-section-1 .u-btn-36 {
    margin-top: 20px;
    margin-left: 19px;
  }

  .u-section-1 .u-btn-37 {
    margin-left: 78px;
  }

  .u-section-1 .u-btn-39 {
    margin-right: 78px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-40 {
    margin-top: -42px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-18 {
    margin-top: 10px;
  }

  .u-section-1 .u-btn-41 {
    margin-top: 20px;
    margin-left: 19px;
  }

  .u-section-1 .u-btn-42 {
    margin-left: 78px;
  }

  .u-section-1 .u-btn-44 {
    margin-right: 78px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-45 {
    margin-top: -42px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-20 {
    margin-top: 10px;
  }

  .u-section-1 .u-btn-46 {
    margin-top: 20px;
    margin-left: 19px;
  }

  .u-section-1 .u-btn-47 {
    margin-left: 78px;
  }

  .u-section-1 .u-btn-49 {
    margin-right: 78px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-50 {
    margin-top: -42px;
    margin-right: 19px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 1495px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -1477px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 103px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 126px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 127px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 86px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 109px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 103px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 126px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 127px;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 86px;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 109px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 103px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 126px;
  }

  .u-section-1 .u-btn-13 {
    margin-right: 127px;
  }

  .u-section-1 .u-btn-14 {
    margin-right: 86px;
  }

  .u-section-1 .u-btn-15 {
    margin-right: 109px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 103px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 126px;
  }

  .u-section-1 .u-btn-18 {
    margin-right: 127px;
  }

  .u-section-1 .u-btn-19 {
    margin-right: 86px;
  }

  .u-section-1 .u-btn-20 {
    margin-right: 109px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-21 {
    margin-left: 103px;
  }

  .u-section-1 .u-btn-22 {
    margin-left: 126px;
  }

  .u-section-1 .u-btn-23 {
    margin-right: 127px;
  }

  .u-section-1 .u-btn-24 {
    margin-right: 86px;
  }

  .u-section-1 .u-btn-25 {
    margin-right: 109px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-26 {
    margin-left: 103px;
  }

  .u-section-1 .u-btn-27 {
    margin-left: 126px;
  }

  .u-section-1 .u-btn-28 {
    margin-right: 127px;
  }

  .u-section-1 .u-btn-29 {
    margin-right: 86px;
  }

  .u-section-1 .u-btn-30 {
    margin-right: 109px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-31 {
    margin-left: 103px;
  }

  .u-section-1 .u-btn-32 {
    margin-left: 126px;
  }

  .u-section-1 .u-btn-33 {
    margin-right: 127px;
  }

  .u-section-1 .u-btn-34 {
    margin-right: 86px;
  }

  .u-section-1 .u-btn-35 {
    margin-right: 109px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-36 {
    margin-left: 103px;
  }

  .u-section-1 .u-btn-37 {
    margin-left: 126px;
  }

  .u-section-1 .u-btn-38 {
    margin-right: 127px;
  }

  .u-section-1 .u-btn-39 {
    margin-right: 86px;
  }

  .u-section-1 .u-btn-40 {
    margin-right: 109px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-41 {
    margin-left: 103px;
  }

  .u-section-1 .u-btn-42 {
    margin-left: 126px;
  }

  .u-section-1 .u-btn-43 {
    margin-right: 127px;
  }

  .u-section-1 .u-btn-44 {
    margin-right: 86px;
  }

  .u-section-1 .u-btn-45 {
    margin-right: 109px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-46 {
    margin-left: 103px;
  }

  .u-section-1 .u-btn-47 {
    margin-left: 126px;
  }

  .u-section-1 .u-btn-48 {
    margin-right: 127px;
  }

  .u-section-1 .u-btn-49 {
    margin-right: 86px;
  }

  .u-section-1 .u-btn-50 {
    margin-right: 109px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-weight: normal;
    margin-top: 19px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 35px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1759px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 12px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.5rem;
    margin-top: 8px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 34px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 86px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -40px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -42px;
    margin-right: 88px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 35px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 12px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.5rem;
    margin-top: 8px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 34px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 86px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -40px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 88px;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 35px;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 12px;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.5rem;
    margin-top: 8px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 34px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 86px;
  }

  .u-section-1 .u-btn-13 {
    margin-top: -40px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-14 {
    margin-right: 88px;
  }

  .u-section-1 .u-btn-15 {
    margin-right: 35px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 12px;
  }

  .u-section-1 .u-text-9 {
    font-size: 0.5rem;
    margin-top: 8px;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 34px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 86px;
  }

  .u-section-1 .u-btn-18 {
    margin-top: -40px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-19 {
    margin-right: 88px;
  }

  .u-section-1 .u-btn-20 {
    margin-right: 35px;
    margin-left: auto;
  }

  .u-section-1 .u-text-10 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 12px;
  }

  .u-section-1 .u-text-11 {
    font-size: 0.5rem;
    margin-top: 8px;
  }

  .u-section-1 .u-btn-21 {
    margin-left: 34px;
  }

  .u-section-1 .u-btn-22 {
    margin-left: 86px;
  }

  .u-section-1 .u-btn-23 {
    margin-top: -40px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-24 {
    margin-right: 88px;
  }

  .u-section-1 .u-btn-25 {
    margin-right: 35px;
    margin-left: auto;
  }

  .u-section-1 .u-text-12 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 12px;
  }

  .u-section-1 .u-text-13 {
    font-size: 0.5rem;
    margin-top: 8px;
  }

  .u-section-1 .u-btn-26 {
    margin-left: 34px;
  }

  .u-section-1 .u-btn-27 {
    margin-left: 86px;
  }

  .u-section-1 .u-btn-28 {
    margin-top: -40px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-29 {
    margin-right: 88px;
  }

  .u-section-1 .u-btn-30 {
    margin-right: 35px;
    margin-left: auto;
  }

  .u-section-1 .u-text-14 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 12px;
  }

  .u-section-1 .u-text-15 {
    font-size: 0.5rem;
    margin-top: 8px;
  }

  .u-section-1 .u-btn-31 {
    margin-left: 34px;
  }

  .u-section-1 .u-btn-32 {
    margin-left: 86px;
  }

  .u-section-1 .u-btn-33 {
    margin-top: -40px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-34 {
    margin-right: 88px;
  }

  .u-section-1 .u-btn-35 {
    margin-right: 35px;
    margin-left: auto;
  }

  .u-section-1 .u-text-16 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 12px;
  }

  .u-section-1 .u-text-17 {
    font-size: 0.5rem;
    margin-top: 8px;
  }

  .u-section-1 .u-btn-36 {
    margin-left: 34px;
  }

  .u-section-1 .u-btn-37 {
    margin-left: 86px;
  }

  .u-section-1 .u-btn-38 {
    margin-top: -40px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-39 {
    margin-right: 88px;
  }

  .u-section-1 .u-btn-40 {
    margin-right: 35px;
    margin-left: auto;
  }

  .u-section-1 .u-text-18 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 12px;
  }

  .u-section-1 .u-text-19 {
    font-size: 0.5rem;
    margin-top: 8px;
  }

  .u-section-1 .u-btn-41 {
    margin-left: 34px;
  }

  .u-section-1 .u-btn-42 {
    margin-left: 86px;
  }

  .u-section-1 .u-btn-43 {
    margin-top: -40px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-44 {
    margin-right: 88px;
  }

  .u-section-1 .u-btn-45 {
    margin-right: 35px;
    margin-left: auto;
  }

  .u-section-1 .u-text-20 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 12px;
  }

  .u-section-1 .u-text-21 {
    font-size: 0.5rem;
    margin-top: 8px;
  }

  .u-section-1 .u-btn-46 {
    margin-left: 34px;
  }

  .u-section-1 .u-btn-47 {
    margin-left: 86px;
  }

  .u-section-1 .u-btn-48 {
    margin-top: -40px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-49 {
    margin-right: 88px;
  }

  .u-section-1 .u-btn-50 {
    margin-right: 35px;
    margin-left: auto;
  }
}