<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Question</title>
  <!-- Style Css here -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/questionaire.css')}}" />
</head>

<body>
  <div class="question_area">
    <form>
      <div class="question_content">
        <!-- SINGLE QUESTION -->
        <div class="single_question">
          <h6 class="question_title">
            <span id="questionNumber">1</span>
            Are you rich?
          </h6>
          <div class="question_checks">
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q1" class="qAns" id="1" />
                <span class="question_checkmark">1</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q1" class="qAns" id="2" />
                <span class="question_checkmark">2</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q1" class="qAns" id="3" />
                <span class="question_checkmark">3</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q1" class="qAns" id="4" />
                <span class="question_checkmark">4</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q1" class="qAns" id="5" />
                <span class="question_checkmark">5</span>
              </label>
            </div>
          </div>
        </div>
        <!-- SINGLE QUESTION -->
        <div class="single_question">
          <h6 class="question_title">
            <span id="questionNumber">2</span>
            QUESTION 2
          </h6>
          <div class="question_checks">
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q2" class="qAns" id="1" />
                <span class="question_checkmark">1</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q2" class="qAns" id="2" />
                <span class="question_checkmark">2</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q2" class="qAns" id="3" />
                <span class="question_checkmark">3</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q2" class="qAns" id="4" />
                <span class="question_checkmark">4</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q2" class="qAns" id="5" />
                <span class="question_checkmark">5</span>
              </label>
            </div>
          </div>
        </div>
        <!-- SINGLE QUESTION -->
        <div class="single_question">
          <h6 class="question_title">
            <span id="questionNumber">3</span>
            QUESTION 3
          </h6>
          <div class="question_checks">
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q3" class="qAns" id="1" />
                <span class="question_checkmark">1</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q3" class="qAns" id="2" />
                <span class="question_checkmark">2</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q3" class="qAns" id="3" />
                <span class="question_checkmark">3</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q3" class="qAns" id="4" />
                <span class="question_checkmark">4</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q3" class="qAns" id="5" />
                <span class="question_checkmark">5</span>
              </label>
            </div>
          </div>
        </div>
        <!-- SINGLE QUESTION -->
        <div class="single_question">
          <h6 class="question_title">
            <span id="questionNumber">4</span>
            QUESTION 4
          </h6>
          <div class="question_checks">
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q4" class="qAns" id="1" />
                <span class="question_checkmark">1</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q4" class="qAns" id="2" />
                <span class="question_checkmark">2</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q4" class="qAns" id="3" />
                <span class="question_checkmark">3</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q4" class="qAns" id="4" />
                <span class="question_checkmark">4</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q4" class="qAns" id="5" />
                <span class="question_checkmark">5</span>
              </label>
            </div>
          </div>
        </div>
        <!-- SINGLE QUESTION -->
        <div class="single_question">
          <h6 class="question_title">
            <span id="questionNumber">5</span>
            QUESTION 5
          </h6>
          <div class="question_checks">
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q5" class="qAns" id="1" />
                <span class="question_checkmark">1</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q5" class="qAns" id="2" />
                <span class="question_checkmark">2</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q5" class="qAns" id="3" />
                <span class="question_checkmark">3</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q5" class="qAns" id="4" />
                <span class="question_checkmark">4</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q5" class="qAns" id="5" />
                <span class="question_checkmark">5</span>
              </label>
            </div>
          </div>
        </div>
        <!-- SINGLE QUESTION -->
        <div class="single_question">
          <h6 class="question_title">
            <span id="questionNumber">6</span>
            QUESTION 6
          </h6>
          <div class="question_checks">
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q6" class="qAns" id="1" />
                <span class="question_checkmark">1</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q6" class="qAns" id="2" />
                <span class="question_checkmark">2</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q6" class="qAns" id="3" />
                <span class="question_checkmark">3</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q6" class="qAns" id="4" />
                <span class="question_checkmark">4</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q6" class="qAns" id="5" />
                <span class="question_checkmark">5</span>
              </label>
            </div>
          </div>
        </div>
        <!-- SINGLE QUESTION -->
        <div class="single_question">
          <h6 class="question_title">
            <span id="questionNumber">7</span>
            QUESTION 7
          </h6>
          <div class="question_checks">
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q7" class="qAns" id="1" />
                <span class="question_checkmark">1</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q7" class="qAns" id="2" />
                <span class="question_checkmark">2</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q7" class="qAns" id="3" />
                <span class="question_checkmark">3</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q7" class="qAns" id="4" />
                <span class="question_checkmark">4</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q7" class="qAns" id="5" />
                <span class="question_checkmark">5</span>
              </label>
            </div>
          </div>
        </div>
        <!-- SINGLE QUESTION -->
        <div class="single_question">
          <h6 class="question_title">
            <span id="questionNumber">8</span>
            QUESTION 8
          </h6>
          <div class="question_checks">
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q8" class="qAns" id="1" />
                <span class="question_checkmark">1</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q8" class="qAns" id="2" />
                <span class="question_checkmark">2</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q8" class="qAns" id="3" />
                <span class="question_checkmark">3</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q8" class="qAns" id="4" />
                <span class="question_checkmark">4</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q8" class="qAns" id="5" />
                <span class="question_checkmark">5</span>
              </label>
            </div>
          </div>
        </div>
        <!-- SINGLE QUESTION -->
        <div class="single_question">
          <h6 class="question_title">
            <span id="questionNumber">9</span>
            QUESTION 9
          </h6>
          <div class="question_checks">
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q9" class="qAns" id="1" />
                <span class="question_checkmark">1</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q9" class="qAns" id="2" />
                <span class="question_checkmark">2</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q9" class="qAns" id="3" />
                <span class="question_checkmark">3</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q9" class="qAns" id="4" />
                <span class="question_checkmark">4</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q9" class="qAns" id="5" />
                <span class="question_checkmark">5</span>
              </label>
            </div>
          </div>
        </div>
        <!-- SINGLE QUESTION -->
        <div class="single_question">
          <h6 class="question_title">
            <span id="questionNumber">10</span>
            QUESTION 10
          </h6>
          <div class="question_checks">
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q10" class="qAns" id="1" />
                <span class="question_checkmark">1</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q10" class="qAns" id="2" />
                <span class="question_checkmark">2</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q10" class="qAns" id="3" />
                <span class="question_checkmark">3</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q10" class="qAns" id="4" />
                <span class="question_checkmark">4</span>
              </label>
            </div>
            <div class="single_question_check">
              <label class="question_container">
                <input type="radio" name="q10" class="qAns" id="5" />
                <span class="question_checkmark">5</span>
              </label>
            </div>
          </div>
        </div>


      </div>
      <div class="submit-btn">
        <input type="reset" value="Submit!" id="sendtodb">
      </div>
    </form>
  </div>
  <!-- <script src="{{url_for('static', filename='script.js')}}"></script> -->
  <script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-app.js";
    import { getFirestore } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-firestore.js";
    import { collection, addDoc, setDoc, doc } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-firestore.js"; 
    import { getAuth } from "https://www.gstatic.com/firebasejs/9.8.1/firebase-auth.js";
    const firebaseConfig = {
      apiKey: "AIzaSyAizKiBWMmyxDAF9BkJFTfsk8VnEXzCnnQ",
      authDomain: "trippr-62b9f.firebaseapp.com",
      databaseURL: "https://trippr-62b9f-default-rtdb.firebaseio.com",
      projectId: "trippr-62b9f",
      storageBucket: "trippr-62b9f.appspot.com",
      messagingSenderId: "836402456269",
      appId: "1:836402456269:web:3fd354f16e2d5f84d8ab84",
      measurementId: "G-MN1VTEJYGM"
    };
    
    const app = initializeApp(firebaseConfig);
    const db = getFirestore(app);
    const auth = getAuth();
    
    sendtodb.addEventListener('click',e=>{
      event.preventDefault();
      var radioboxes = document.getElementsByClassName('qAns');
      var radioanswers = [];
      var radiodict = {};
      var clusterdict = {};
      for(var i=0; i<radioboxes.length; i++){
        if(radioboxes[i].checked == true){
          radioanswers.push(radioboxes[i].id);
        }  
      }

      var cluster_one = radioanswers[0] * 27.625323;
      var cluster_two = radioanswers[1] * 34.864717;    
      var cluster_three = radioanswers[2] * 35.102106;  
      var cluster_four = radioanswers[3] * 28.992477;

      var highcluster = Math.max(cluster_one, cluster_two, cluster_three, cluster_four);

      if(highcluster == cluster_one){
        var usercluster = 0;
        console.log(usercluster);
      }else if(highcluster == cluster_two){
        var usercluster = 1;
        console.log(usercluster);
      }else if(highcluster == cluster_three){
        var usercluster = 2;
        console.log(usercluster);
      }else if(highcluster == cluster_four){
        var usercluster = 3;
        console.log(usercluster);
      }else{
    
      }
      console.log(highcluster);

      radiodict["question 01"] = radioanswers[0];
      radiodict["question 02"] = radioanswers[1];
      radiodict["question 03"] = radioanswers[2];
      radiodict["question 04"] = radioanswers[3]; 

      clusterdict["Cluster"] = usercluster;



      console.log(radiodict);
      const user = auth.currentUser;
      if(user){
        var id = user.uid;
        const docRef = setDoc(doc(db, id, "users-prefs"),radiodict);
        const docRefTwo = setDoc(doc(db, id, "users-cluster"),clusterdict);
        
        var delayInMilliseconds = 1000; //1 second

        setTimeout(function() {
          window.location.href = "{{url_for('index.navigation_view')}}";
        }, delayInMilliseconds);
      }else{
        console.log("no login");
      }  
    });

  </script>
</body>

</html>